#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

# Fix Gnome Apps Slow  Start due to failing services
# Add this when you include flatpak in your system
#/*dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY*/

# source zsh profile
source ~/.zprofile

# SSH key
#keychain ~/.ssh/rsa_gaetan_desktop_arch
#[ -f ~/.keychain/$HOSTNAME-sh ] && . ~/.keychain/$HOSTNAME-sh 2>/dev/null
#[ -f ~/.keychain/$HOSTNAME-sh-gpg ] && . ~/.keychain/$HOSTNAME-sh-gpg 2>/dev/null

# executes scripts before the WM is launched
screens &
remaps &		    # run the remaps script, switching caps/esc and more; check it for more info
setbg &			    # set the background with the `setbg` script
numlockx &          # enables numlock at startup
picom -b --experimental-backends &  # launch compositor
dunst &			    # dunst for notifications
polybar_launch &    # bar
udiskie &           # automatically mounts disks
#xfce4-power-manager # manages when the system hibernates


#xcompmgr &		# xcompmgr for transparency
#compton &
#$STATUSBAR &		# script for updating the status bar
#xset r rate 300 50 &	# Speed xrate up
#unclutter &		# Remove mouse when idle
#mpd-module-update &	# Check for when to update the mpd module
#notify-send -i ~/.local/share/larbs/larbs.png "Welcome to LARBS" "Press super+F1 for the help menu." # LARBSWELCOME
