* {
  font-family: "UbuntuMono Nerd Font", "NotoSansMono";

  font-size: 24px;

  border: none;
  border-radius: 4px;
  color: #ffffff;
}

button label {
  all: unset;
}

window#waybar {
  background: #0a0a0a;
  color: #ffffff;
  border-radius: 0px;
}

/* ----------- WORKSPACES ----------- */
#workspaces button {
  padding: 0 8px;
  border: 1px solid #4e4e4e;
  margin: 0 4px 0 0;
  background: #0a0a0a;
}

#workspaces button.focused {
  color: #0a0a0a;
  background: #ffffff;
}
#workspaces button.urgent {
  background: #fb4934;
}
/* Empty */
#workspaces button.persistent {
  color: #4e4e4e;
}


/* ----------- MODULES ----------- */
#backlight,
#pulseaudio,
#memory,
#cpu,
#network,
#custom-vpn,
#battery,
#clock,
#clock-date,
#custom-notifs
{
  padding: 0 8px;
  margin: 2px 2px;
  background: #4e4e4e;
  font-size: 20px;
  color: #0a0a0a;
  background: #ffffff;
}

#pulseaudio.muted,
#custom-vpn.disconnected,
#custom-notifs.off
{
    background: #fb4934;
    color: #ffffff;
}
